.leaflet-pane > svg.d3-svg-overlay path{
	pointer-events: auto;
}

body {
  padding:0px;
  margin:0px;
}

#map-outer-container{
  margin:0px;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
}

#map{
  // position:absolute;
  // left: 0px;
  // top: 0px;
  width:100%;
  height:100vh;
  background:grey;
}