.legend {
  position: absolute;
  bottom: 125px;
  right: 15px;
  z-index: 1000;
  width: 200px;
  background: $sidebar-color;
  border-radius: 10px;
  display: none;
}

.legend--on {
  display: block;
}

.legend__inner {
  padding: 10px;
}

.legend__row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend__row-text {
  margin-left: 10px;
}

.legend__layer-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend__block:not(:first-child) {
  margin-top: 15px;
}