
// .leaflet-control-zoom {
//   bottom: 50px;
//   left: 50px;
// }

.galleries-layer {
  fill: rgba(255, 165, 0, .8);
  pointer-events: auto;
  cursor: pointer;
}

.galleries-layer:hover {
  fill: rgba(255, 165, 0, 1);
}

.assessedValue-layer,
.manufacturingLandUse-layer,
.landuse-layer,
.zoning-layer {
  opacity: .8;
  cursor: pointer;
  transition: opacity $btn-speed;
}

.assessedValue-layer:hover,
.manufacturingLandUse-layer:hover,
.landuse-layer:hover,
.zoning-layer:hover {
  opacity: 1 !important;
}

.watershed-layer,
.plutoBounds-layer {
  stroke: orange;
  stroke-width: 2.5;
  stroke-dasharray: 10,5;
  fill: none;
  cursor: pointer;
}

.watershed-layer:hover,
.plutoBounds-layer:hover {
  stroke-width: 3.5;
}

.parks-layer,
.fema-layer,
.cso-layer {
  stroke: orange;
  stroke-width: 1.5;
  fill: rgba(255, 165, 0, .15);
  transition: fill $btn-speed;
  cursor: pointer;
}


.parks-layer:hover,
.fema-layer:hover,
.cso-layer--active {
  fill: rgba(255, 165, 0, .5);
}

.bike-layer--rack,
.subway-layer--station,
.bus-layer--stop,
.cso-layer-circle {
  pointer-events: auto;
  stroke: white;
  stroke-width: 1.5;
  fill: rgba(255, 255, 255, .5);
  transition: fill $btn-speed;
  cursor: pointer;
}
.bike-layer--rack:hover,
.subway-layer--station:hover,
.bus-layer--stop:hover,
.cso-layer-circle--active {
  fill: rgba(255, 255, 255, .9);
}

.bus-layer--route,
.subway-layer--line,
.bike-layer--route {
  stroke: orange;
  // stroke-width: 3;
  fill: none;
  cursor: pointer;
}

.bus-layer--route:hover,
.subway-layer--line:hover,
.bike-layer--route:hover {
  // stroke-width: 4.5;
  stroke: white;
}

.hwater-layer,
.sandy-layer {
  fill: rgb(173,216,230);
  fill-opacity: 0.35;
  transition: fill-opacity $btn-speed;
  cursor: pointer;
}

.hwater-layer:hover,
.sandy-layer--selected {
  fill-opacity: 0.75;
}

// .cso-layer--circle--null {
//   stroke: rgb(100, 100, 100);
//   fill: rgba(100, 100, 100, .5);
// }

// .cso-layer--circle--null:hover {
//   fill: rgba(100, 100, 100, .9);
// }