.galleries-layer {
  fill: rgba(255, 165, 0, .8);
}

.galleries-layer:hover {
  fill: rgba(255, 165, 0, 1);
}

.assessedValue-layer,
.manufacturingLandUse-layer,
.landuse-layer,
.zoning-layer {
  opacity: .8;
  cursor: pointer;
  transition: opacity $btn-speed;
}

.assessedValue-layer:hover,
.manufacturingLandUse-layer:hover,
.landuse-layer:hover,
.zoning-layer:hover {
  opacity: 1 !important;
}

.watershed-layer,
.plutoBounds-layer {
  stroke: orange;
  stroke-width: 1.5;
  stroke-dasharray: 10,5;
  fill: none;
  cursor: pointer;
}

.watershed-layer:hover,
.plutoBounds-layer:hover {
  stroke-width: 2;
}

.cso-layer {
  stroke: orange;
  stroke-width: 1.5;
  fill: rgba(255, 165, 0, .15);
  transition: fill $btn-speed;
  cursor: pointer;
}

.cso-layer:hover {
  fill: rgba(255, 165, 0, .5);
}

.cso-layer--circle {
  stroke: white;
  stroke-width: 1.5;
  fill: rgba(255, 255, 255, .5);
  transition: fill $btn-speed;
  cursor: pointer;
}

.cso-layer--circle:hover {
  fill: rgba(255, 255, 255, .9);
}

// .cso-layer--circle--null {
//   stroke: rgb(100, 100, 100);
//   fill: rgba(100, 100, 100, .5);
// }

// .cso-layer--circle--null:hover {
//   fill: rgba(100, 100, 100, .9);
// }