
// .leaflet-control-zoom {
//   bottom: 50px;
//   left: 50px;
// }

$layer-red-solid: rgba(242, 60, 80, 1);
$layer-red-medium: rgba(242, 60, 80, .5);
$layer-red-light: rgba(242, 60, 80, .15);

$layer-yellow-solid: rgba(255, 203, 5, 1);
$layer-yellow-medium: rgba(255, 203, 5, .5);
$layer-yellow-light: rgba(255, 203, 5, .15);

$layer-white-solid: rgba(233, 241, 223, 1);
$layer-white-medium: rgba(233, 241, 223, .5);
$layer-white-light: rgba(233, 241, 223, .15);

$layer-blue-solid: rgba(74, 217, 217, 1);
$layer-blue-medium: rgba(74, 217, 217, .5);
$layer-blue-light: rgba(74, 217, 217, .15);

$layer-green-solid: rgba(79, 185, 159, 1);
$layer-green-medium: rgba(79, 185, 159, .5);
$layer-green-light: rgba(79, 185, 159, .15);

.galleries-layer {
  fill: rgba(255, 165, 0, .8);
  pointer-events: auto;
  cursor: pointer;
}

.galleries-layer:hover {
  fill: rgba(255, 165, 0, 1);
}

.assessedValue-layer,
.manufacturingLandUse-layer,
.landuse-layer,
.zoning-layer {
  opacity: .8;
  cursor: pointer;
  transition: opacity $btn-speed;
}

.assessedValue-layer:hover,
.manufacturingLandUse-layer:hover,
.landuse-layer:hover,
.zoning-layer:hover {
  opacity: 1 !important;
}

.watershed-layer,
.plutoBounds-layer {
  stroke: orange;
  stroke-width: 2.5;
  stroke-dasharray: 10,5;
  fill: none;
  cursor: pointer;
}

.plutoBounds-layer {
  stroke: $layer-blue-solid;
  stroke-width: 4;
  stroke-dasharray: 5,5;
}

.ibz-layer {
  stroke: $layer-red-solid;
  stroke-width: 4;
  stroke-dasharray: 5,5;
  fill: none;
  cursor: pointer;
}


.watershed-layer:hover,
.plutoBounds-layer:hover {
  stroke-width: 3.5;
}

.ibz-layer:hover,
.plutoBounds-layer:hover {
  stroke-width: 5;
}

.nycha-layer,
.police-layer,
.school-layer,
.parks-layer,
.fema-layer,
.cso-layer {
  stroke: orange;
  stroke-width: 1.5;
  fill: rgba(255, 165, 0, .15);
  transition: fill $btn-speed;
  cursor: pointer;
}

.police-layer:hover,
.school-layer:hover,
.nycha-layer:hover,
.parks-layer:hover,
.fema-layer:hover,
.cso-layer--active {
  fill: rgba(255, 165, 0, .5);
}

.parks-layer {
  stroke: $layer-green-solid;
  fill: $layer-green-light;
}

.parks-layer:hover {
  fill: $layer-green-medium;
}

.nycha-layer {
  stroke: $layer-red-solid;
  fill: $layer-red-light;
}

.nycha-layer:hover {
  fill: $layer-red-medium;
}


.bike-layer--rack,
.subway-layer--station,
.bus-layer--stop,
.cso-layer-circle {
  pointer-events: auto;
  stroke: white;
  stroke-width: 1.5;
  fill: rgba(255, 255, 255, .5);
  transition: fill $btn-speed;
  cursor: pointer;
}
.bike-layer--rack:hover,
.subway-layer--station:hover,
.bus-layer--stop:hover,
.cso-layer-circle--active {
  fill: rgba(255, 255, 255, .9);
}

.bus-layer--route,
.subway-layer--line,
.bike-layer--route {
  stroke: orange;
  // stroke-width: 3;
  fill: none;
  cursor: pointer;
}

.bus-layer--route:hover,
.subway-layer--line:hover,
.bike-layer--route:hover {
  // stroke-width: 4.5;
  stroke: white;
}

.subway-layer--station {
  stroke: $layer-white-solid;
  fill: $layer-red-medium;
}

.subway-layer--station:hover {
  fill: $layer-red-solid;
}

.subway-layer--line {
  stroke: $layer-red-solid;
}

.bus-layer--route {
  stroke: $layer-blue-solid;
}

.bus-layer--stop {
  stroke: $layer-white-solid;
  fill: $layer-blue-medium;
}

.bus-layer--stop:hover {
  fill: $layer-blue-solid;
}

.hwater-layer,
.sandy-layer {
  fill: rgb(173,216,230);
  fill-opacity: 0.35;
  transition: fill-opacity $btn-speed;
  cursor: pointer;
}

.hwater-layer:hover,
.sandy-layer--selected {
  fill-opacity: 0.75;
}

// .cso-layer--circle--null {
//   stroke: rgb(100, 100, 100);
//   fill: rgba(100, 100, 100, .5);
// }

// .cso-layer--circle--null:hover {
//   fill: rgba(100, 100, 100, .9);
// }