.menu__container {
  position: absolute;
  right: 5vh;
  top: 5vh;
  width: 272px;
  height: 85vh;
  background: $title-color;
  z-index:950;
  padding:15px;
}


.menu__section {
  margin-bottom: 15px;
}

.menu__default__row {
  cursor: pointer;
}

.menu__header {
  font-size: $menu__header-size;
  font-weight: bold;
}


.menu__name {
  margin-top:5px;
}

.menu__name-title {
  font-style: italic;
}


.menu__back-button-row {
  text-align: right;
}

.menu__back-button {
  cursor:pointer;
}



.menu__row:hover, .menu__back-button:hover {
  color:white;
}
.menu__video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.menu__video iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.menu__map-layer {
  cursor: pointer;
}

.menu__map-layer--active, .menu__map-layer:hover {
  color: white;
}