$menu-right: 50px;
$menu-top: 50px;
// $tab-width: 42px;
// $tab-height: 317px;
$tab-width: 36px;
$tab-height: 272px;
$tab-top: $menu-top;
$tab-right: $menu-right - $tab-width;

.menu__container {
  position: absolute;
  right: $menu-right;
  top: $menu-top;
  width: 272px;
  height: 85vh;
  background: $title-color;
  z-index:950;
  padding:15px;
  // border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // border-top-right-radius: 6px;
  overflow-y: auto;
}

.menu__container::-webkit-scrollbar{
  // -webkit-box-shadow: inset 0 0 3px $title-color--dark;
  background:transparent;
  width: 10px !important;
  opacity: .8 !important;
}

.menu__container::-webkit-scrollbar-thumb{
  background:$title-color--dark !important;
  border-radius: 5px;
  // width: 5px;
  
}
.menu__container::-webkit-scrollbar:hover {
  opacity: 1 !important;
}

.menu__container--allData {
  background: $menu-fill--allData;
}

.menu__tab {
  position: absolute;
  z-index: 925;
  width: $tab-width;
  height: $tab-height;
  cursor: pointer;
}

.menu__tab--stories {
  right: $tab-right;
  top: $tab-top;
}

.menu__tab--allData {
  right: $tab-right;
  top: $tab-top + $tab-height;
}

.menu__section {
  margin-bottom: 25px;
}

.menu__header {
  font-size: $menu__header-size;
  font-weight: bold;
}

.menu__category-hr {
  border: 0px;
  border-top: 1px solid black;
}

.menu__name {
  margin-top:5px;
}

.menu__name-title {
  font-style: italic;
}


.menu__back-button-row {
  text-align: right;
  margin-bottom: 5px;
}

.menu__row-title {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu__back-button {
  font-style: italic;
  cursor:pointer;
}

.menu__interview-container {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.menu__interview-headshot {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.menu__interview-container:hover, .menu__back-button:hover {
  color:white;
}
.menu__video {
  position: relative;
  height: 0;
  margin-top: 5px;
  padding-bottom: 56.25%;
}

.menu__video iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.menu__button-container {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.menu__map-layer {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  background: $title-color;
  color: $layer-button-color--inactive;
  transition: background $btn-speed, color $btn-speed;
  margin-right: 10px;
  margin-bottom: 5px;
}

.menu__container--allData .menu__map-layer {
  background: $menu-fill--allData;
  color: white;
  border-color: white;
}

.menu__container--allData .menu__map-layer--active,
.menu__container--allData .menu__map-layer:hover{
  background: $menu-fill--stories;
  border-color: $menu-fill--allData;
  color: black;
}

.menu__map-layer--active, .menu__map-layer:hover {
  color: $layer-button-color--active;
  //border-color: $layer-button-color--active;
  background: $title-color--dark;
  border-color: $title-color--dark;
}