.menu__container {
  position: absolute;
  right: 5vh;
  top: 5vh;
  width: 300px;
  height: 90vh;
  background: rgba(150,150,150,1);
  z-index:950;
}

.menu__row, .menu__back-button {
  cursor:pointer;
}

.menu__row:hover, .menu__back-button:hover {
  color:white;
}
.menu__video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.menu__video iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.menu__map-layer {
  cursor: pointer;
}

.menu__map-layer--active, .menu__map-layer:hover {
  color: white;
}