$menu-right: 50px;
$menu-top: 50px;
// $tab-width: 42px;
// $tab-height: 317px;
$tab-width: 36px;
$tab-height: 272px;
$tab-top: $menu-top;
$tab-right: $menu-right - $tab-width;

.menu__container {
  position: absolute;
  right: $menu-right;
  top: $menu-top;
  width: 272px;
  height: 85vh;
  background: $title-color;
  z-index:950;
  padding:15px;
  // border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // border-top-right-radius: 6px;
}

.menu__tab {
  position: absolute;
  z-index: 925;
  width: $tab-width;
  height: $tab-height;
  cursor: pointer;
}

.menu__tab--stories {
  right: $tab-right;
  top: $tab-top;
}

.menu__tab--allData {
  right: $tab-right;
  top: $tab-top + $tab-height;
}

// .menu__tab {
//   font-size: 25px;
//   font-weight: bold;
//   z-index: 1900;
//   transform: rotate(90deg);
//   transform-origin: top left;
//   position: absolute;
//   right: -125px;
// }


// .menu__tab--alldata {
//   top: 200px;
// }

// .menu__tab-button {
//   background: $title-color;
//   color: black;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 5px;
//   padding-bottom: 15px;
//   cursor: pointer;
// }

// .menu__tab-button:hover {
//   color: white;
// }

.menu__section {
  margin-bottom: 25px;
}

.menu__default__row {
  // cursor: pointer;
}

.menu__header {
  font-size: $menu__header-size;
  font-weight: bold;
}

.menu__category-hr {
  border: 0px;
  border-top: 1px solid black;
}

.menu__name {
  margin-top:5px;
}

.menu__name-title {
  font-style: italic;
}


.menu__back-button-row {
  text-align: right;
  margin-bottom: 5px;
}

.menu__back-button {
  cursor:pointer;
}

.menu__interview-container {
  cursor: pointer;
}

.menu__interview-container:hover, .menu__back-button:hover {
  color:white;
}
.menu__video {
  position: relative;
  height: 0;
  margin-top: 5px;
  padding-bottom: 56.25%;
}

.menu__video iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.menu__map-layer-row {
  margin-bottom: 15px;
}

.menu__map-layer {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  background: $title-color;
  color: $layer-button-color--inactive;
  transition: background $btn-speed, color $btn-speed;
}

.menu__map-layer--active, .menu__map-layer:hover {
  color: $layer-button-color--active;
  //border-color: $layer-button-color--active;
  background: $title-color--dark;
  border-color: $title-color--dark;
}