.quote {
  position: absolute;
  left: 25vw;
  bottom: 50px;
  z-index: 950;
  pointer-events: none;
  color: white;
  
  max-width: 500px;
}

@media (max-width: 1200px) {
  .quote{
    left: 10vw;
  }
}

.quote__text {
  font-size: 18px;
}

.quote__attribution {
  font-size: 14px;
  margin-left:50px;
  margin-top:15px;
  font-style: italic;
}