.title {
  position: absolute;
  color: $title-color;
  left: 25px;
  top: -25px;
  z-index:900;
  pointer-events: none;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.title__main {
  font-size: 60px;
  font-weight:bold;
}

.title__sub {
  font-size: 24px;
  // font-weight:bold;
}