$green-fill--low-opacity: rgba(133,207,195,.3);
$green-fill--high-opacity: rgba(133,207,195,.75);
$green-fill--solid: rgba(133,207,195,1);

$menu-fill--stories: rgb(5,192,235);
$title-color: rgb(0,255,255);
$title-color--dark: rgb(0,130,130);

$menu-fill--allData: rgb(0, 0, 255);

$menu__header-size: 18px;


$layer-button-color--active: $title-color;
$layer-button-color--inactive: black;

$xs: 575px;
$sm: 767px;

$btn-speed: 250ms;