{ 
  "extends": ["airbnb"],
  "globals": {
    "d3": false,
    "L": false,
    "window": false,
    "Image": false
  },
  "rules": {
    "max-lines": "error",
    "no-console":"off",
    "no-unused-vars": "warn"
  }
}